*{
    margin: 0;
}
:root {
    --white: white;
    --black: black;
    --gray: #fafafa;
}
html.dark{
    --white: black;
    --black: white;
}
html.dark{
    /* background-color: #111; */
    color: var(--white);
}
body{
    transition: all 0.3s ease-in;
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    /* background-color: var(--white); */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}
.button{
    position: absolute;
    top: -130px;
    left: 140px;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    /* transition: 0.5s; */
}
.number{
    font-size: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    color: var(--black);
}
.clock-midpoint{
    box-sizing: border-box;
    border: 3px solid red;
    height: 20px;
    width: 20px;
    background-color: var(--black);
    border-radius: 50%;
    position: absolute;
    margin: 190px 190px;
    z-index: 10;
}
.hand{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    transition: 0.2s;
}
.div1{
    opacity: 0;
}
.hour div{
    width: 100px;
    height: 7px;
    background-color: var(--black);
}
.minute div{
    width: 120px;
    height: 5px;
    background-color: var(--black);
}
.second div{
    width: 150px;
    height: 3px;
    background-color: red;
}
.clock-digital{
    position: absolute;
    bottom: -170px;
    width: 100%;
    text-align: center;
    color: var(--black);
}
.clock-digital-number{
    font-size: 50px;
}
.clock-digital-string{
    color: #4887B0;
    font-size: 30px;
    font-weight: bold;
}
